@use "variables" as *;
@use "mixins" as *;

@media (max-width: 1060px) {
  main {
    section {
      &.portfolio {
        article {
          grid-template-columns: 1fr;

          aside {
            height: 500px;

            div.overlay {
              @include flex;
              flex-direction: column;

              h2 {
                margin-top: 0;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  header {
    padding: 0 20px;
  }

  main {
    padding: 65px 0 0;

    section {
      &.banner {
        background-position: 35%;
      }
    }
  }

 
}



